.container{
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
   

}
h1{
    color: white;
    font-size: 25px;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2E2D4E;
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    
        /* Remove as setas para todos os inputs number */
    &   input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Para Firefox */
    &   input[type="number"] {
        -moz-appearance: textfield;
        }




    & button{
        border-radius: 30px;
        background-color: #8B8AE1;
        height: 40px;
        border: none;
        font-weight: bold;
        cursor: pointer;

    }
    & button:hover{
        opacity: 0.8;
    }

    & input{
        border: 1px solid #48456c;
        border-radius: 30px;
        height: 40px;
        background: #363653;
        color: white;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    
    }

}

.card{
    display: flex;
    justify-content: space-between;
    background-color: #2E2D4E;
    margin: 10px;
    padding: 10px;
    width: 400px;
    border-radius: 10px;

    & p{
        color: white;
        font-weight: bold;

        & span{
            font-weight: normal;
        }
    }
    & button{
       background-color:  transparent;
        border: none;
        cursor: pointer;
        height: 25px;     
    }

    & button:hover{
        opacity: 0.5;
    }


}
